pipeline/PL_LOGMSG_AND_SENDEMAIL_ITEM.json
{
	"name": "PL_LOGMSG_AND_SENDEMAIL_ITEM",
	"properties": {
		"description": "Log execution status and send an email to admins",
		"activities": [
			{
				"name": "ACT_ITRC_IF_ERROR",
				"description": "This is an error, please log it",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.IsError",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ACT_GEN_SPRC_LOG_ITEM_START",
							"description": "start ASQL SQL Auth to delta tables full load",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"CallingProcess": {
										"value": {
											"value": "@pipeline().parameters.Subject",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat('Error message: ', pipeline().parameters.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "true",
										"type": "Boolean"
									},
									"IsStart": {
										"value": "false",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"RowsCopied": {
										"value": {
											"value": "@pipeline().parameters.RowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_SQL_AUTH",
								"type": "LinkedServiceReference",
								"parameters": {
									"LS_ASQL_SQL_AUTH_CONN_SECRET": "@pipeline().parameters.Etl_DB_Conn_Secret"
								}
							}
						}
					]
				}
			},
			{
				"name": "ACT_ITRC_IF_SEND_EMAIL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_ITRC_IF_ERROR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.EmailEnabled",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PL_SENDEMAIL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_SENDEMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"IsError": {
										"value": "@pipeline().parameters.IsError",
										"type": "Expression"
									},
									"EmailTo": {
										"value": "@pipeline().parameters.EmailTo",
										"type": "Expression"
									},
									"Subject": {
										"value": "@pipeline().parameters.Subject",
										"type": "Expression"
									},
									"Message": {
										"value": "@pipeline().parameters.Message",
										"type": "Expression"
									},
									"Importance": {
										"value": "@pipeline().parameters.Importance",
										"type": "Expression"
									},
									"EmailEnabled": {
										"value": "@pipeline().parameters.EmailEnabled",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().parameters.PipelineName",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().parameters.PipelineRunID",
										"type": "Expression"
									},
									"DataFactoryName": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"Etl_DB_Conn_Secret": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									},
									"Color": {
										"value": "@pipeline().parameters.Color",
										"type": "Expression"
									},
									"TableSchema": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"IsError": {
				"type": "bool"
			},
			"EmailTo": {
				"type": "string"
			},
			"Subject": {
				"type": "string"
			},
			"Message": {
				"type": "string"
			},
			"Importance": {
				"type": "string"
			},
			"EmailEnabled": {
				"type": "bool"
			},
			"PipelineName": {
				"type": "string"
			},
			"PipelineRunID": {
				"type": "string"
			},
			"DataFactoryName": {
				"type": "string"
			},
			"Etl_DB_Conn_Secret": {
				"type": "string"
			},
			"Color": {
				"type": "string"
			},
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"RowsCopied": {
				"type": "int"
			}
		},
		"variables": {
			"ETL_ASQL_CONN_SEC": {
				"type": "String",
				"defaultValue": "sec-mdw-db-connection-string"
			}
		},
		"folder": {
			"name": "000_LOGS_AND_EMAILS"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-14T14:26:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}