pipeline/PL_RAW_2_STAGE_COSMOSDB.json
{
	"name": "PL_RAW_2_STAGE_COSMOSDB",
	"properties": {
		"description": "run the correct dbr notebooks to promote raw data to staget data",
		"activities": [
			{
				"name": "ACT_GEN_EPIPE_ERR_NOTIFY_1",
				"description": "Notify admins that the lookup of the raw2stage notebooks failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ACT_RAW_2_STAGE_COSMOSDB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"IsError": true,
						"EmailTo": {
							"value": "@pipeline().parameters.SendEmailNotificationAddress",
							"type": "Expression"
						},
						"Subject": {
							"value": "@concat('Lookup Failure - ' , pipeline().Pipeline)",
							"type": "Expression"
						},
						"Message": {
							"value": "@concat('Message: '\n, activity('ACT_RAW_2_STAGE_COSMOSDB').output.runError\n)",
							"type": "Expression"
						},
						"Importance": "High",
						"EmailEnabled": {
							"value": "@pipeline().parameters.EnableNotifications",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Etl_DB_Conn_Secret": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						},
						"Color": "Red"
					}
				}
			},
			{
				"name": "ACT_GEN_EPIPE_SUCCESS_NOTIFY_1",
				"description": "email success notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_LOG_PL_END",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"IsError": false,
						"EmailTo": {
							"value": "@pipeline().parameters.SendEmailNotificationAddress",
							"type": "Expression"
						},
						"Subject": {
							"value": "@concat('Success - ', pipeline().Pipeline)",
							"type": "Expression"
						},
						"Message": {
							"value": "Raw2Stage completed",
							"type": "Expression"
						},
						"Importance": "Low",
						"EmailEnabled": {
							"value": "@pipeline().parameters.EnableNotifications",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Etl_DB_Conn_Secret": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						},
						"Color": "Green"
					}
				}
			},
			{
				"name": "ACT_GEN_SET_VAR_ERR_FLG_1",
				"description": "set error_flag variable to true",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_EPIPE_ERR_NOTIFY_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IS_ERROR",
					"value": true
				}
			},
			{
				"name": "ACT_GEN_SPRC_LOG_PL_START",
				"description": "start raw_2_stage pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"CallingProcess": {
							"value": {
								"value": "Start of @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionMessage": {
							"value": "Started transforming tables from raw to stage",
							"type": "String"
						},
						"IsEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"IsError": {
							"value": "false",
							"type": "Boolean"
						},
						"IsStart": {
							"value": "true",
							"type": "Boolean"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": "N/A",
							"type": "String"
						},
						"TableSchema": {
							"value": "N/A",
							"type": "String"
						},
						"IsInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SQL_AUTH",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_ASQL_SQL_AUTH_CONN_SECRET": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_GEN_SPRC_LOG_PL_END",
				"description": "end of raw_2_stage pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_RAW_2_STAGE_COSMOSDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"CallingProcess": {
							"value": "End of Raw_2_Stage",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionMessage": {
							"value": "Finished transforming tables from raw to stage",
							"type": "String"
						},
						"IsEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"IsError": {
							"value": "false",
							"type": "Boolean"
						},
						"IsStart": {
							"value": "false",
							"type": "Boolean"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": "N/A",
							"type": "String"
						},
						"TableSchema": {
							"value": "N/A",
							"type": "String"
						},
						"IsInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SQL_AUTH",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_ASQL_SQL_AUTH_CONN_SECRET": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_RAW_2_STAGE_COSMOSDB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_LOG_PL_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@{pipeline().parameters.NotebookPath}\n",
						"type": "Expression"
					},
					"baseParameters": {
						"deltatable_path": "/ripastops/main/"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_SPARK_CLUSTER",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"EnableNotifications": {
				"type": "bool",
				"defaultValue": false
			},
			"SendEmailNotificationAddress": {
				"type": "string",
				"defaultValue": "Troy.Peckman@sdsheriff.gov"
			},
			"NotebookPath": {
				"type": "string",
				"defaultValue": "/data_engineering/Raw2Stage/Raw2Stage_cosmosdb"
			}
		},
		"variables": {
			"ETL_ASQL_CONN_SEC": {
				"type": "String",
				"defaultValue": "sec-mdw-db-connection-string"
			},
			"IS_ERROR": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "200_RAW_2_STAGE"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-27T17:03:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}